{% extends "skeleton/base.html" %}

{% load custom_filters %}
{% block header %}
{% include request.session.syntax|add:"/header.html" %}
{% endblock %}

{% block body %}
{% include request.session.syntax|add:"/story.html" %}
{% if story.is_self %}
<div class="selfpost indent">
	self_text = <span class="s">'{{ story.selftext }}'</span>
</div>
<br/>
{% endif %}
<div class="comments">
	{% if comments %}
        {% render_comments_python comments %}
	{% else %}
		<div class="indent"><p class="c"># There's nothing here! </p></span>
	{% endif %}
</div>
{% endblock %}

{% block footer %}
{% include request.session.syntax|add:"/footer.html" %}
{% endblock %}

