{% load custom_filters %}
{% for comment in comments %}
<div class="indent">
    {% if comment|get_type == "<class 'reddit.objects.Comment'>" %}
    {# username #}<span class="k">if</span> {{comment.author}} 
    {# date #}<span class="k">and</span> <span class="s">'{{comment.created_utc|timeago}}'</span> 
    {# score #}<span class="k">and</span> <span class="m">{{comment.ups|subtract:comment.downs}}</span>:
    <div class="indent">
        {# comment body #}<p class="s">'{{comment.body}}'</p>
        {% if comment.replies > 0 %}
            {% render_comments_python comment.replies %}
        {% endif %}
    </div>
    {% else %}
        <p class="c"><a href="{{story.permalink}}"># more comments can be found on reddit </a></p>
    {% endif %}
</div>
{% endfor %}
