{% load custom_filters %}
<p><span class="k">from</span> {{ SITENAME }} <span class="k">import</span> <a id="toggle-options" href="#" title="toggle options">options</a>, <a href="{% url about %}" title="about">about</a>, <a href="{% url news %}" title="news">news</a></p>
<br/>
<p class="n"><a href="/">Home()</a></p>
{% if user %}
	<p class="n"><a href="{% url logout %}">Logout(<span class="s">'{{user}}'</span>)</a></p>
	<ul>
	</ul>
	{% if my_reddits %}
	<br/>
	my_subreddits = [
	<ul class="my_subreddits">
	{% for r in my_reddits %}
		<li><a href="{% url subreddit subreddit=r.display_name|as_string %}" class="s">'{{r}}'</a>,</li>
	{% endfor %}
	</ul>
	]
	{% endif %}
{% else %}
<p class="n"><a href="{% url login %}">Login()</a></p>
{% endif %}
