{% load custom_filters %}
{% if story.title|is_nsfw %}
<span class="k">@nsfw</span><br/>
{% endif %}
<span class="k">def </span>
{# story title #}<a href="{% if story.is_self %}{%url comments subreddit=story.subreddit, story_id=story.id, story_slug=story.permalink|get_submission_slug%}{% else %}{{ story.url }}{% endif %}" {% if story.url|is_image and request.session.preview and not story.title|is_nsfw %}class="imglink"{% endif %}><span class="nc">{{ story.permalink|get_submission_slug|pythonstyle }}</span></a>{# subreddit #}(<span class="vc"><a href="{% url subreddit subreddit=story.subreddit %}">{{ story.subreddit }}</a></span>): 
<p class="c indent">
{# story info #}''' {{story.created_utc|timeago}} by {{ story.author }} from {{story.domain}} '''
</p>
<p class="indent">
full_title = <span class="s">'{{ story.title }}'</span>
<br/><a href="{% url comments subreddit=story.subreddit, story_slug=story.permalink|get_submission_slug, story_id=story.id %}">comments = <span class="m">{{ story.num_comments }}</span></a>
<br/>score = <span class="m">{{ story.score }}</span>
</p>
