{% extends "skeleton/base.html" %}

{% block header %}
{% include request.session.syntax|add:"/header.html" %}
{% endblock %}

{% block body %}
<div class="subreddit-info">
	subreddit = <span class="s">'r/{{subreddit.display_name}}'</span>
	<br/><br/>
</div>

{% if stories %}
	<ul>
	{% for story in stories %}
	<li>
	{% include request.session.syntax|add:"/story.html" %}
	</li>
	{% endfor %}
	</ul>
{% else %}
	<p class="c"># There's nothing here!</p>
{% endif %}

<div class="nav">
	{% if count > request.session.num_stories %}
	<a href="{% url subreddit subreddit=subreddit.display_name %}{%include "skeleton/before.html"%}">previous()</a> 
	{% endif %}
	<br/>
	<a href="{% url subreddit subreddit=subreddit.display_name %}{%include "skeleton/after.html"%}">next()</a>
</div>

{% endblock %}


{% block footer %}
{% include request.session.syntax|add:"/footer.html" %}
{% endblock %}
