{% load custom_filters %}
{% for comment in comments %}
<div class="indent">
    {% if comment|get_type == "<class 'reddit.objects.Comment'>" %}
    {# username #}<span class="k">SELECT</span> <span class="s">'{{comment.author}}'</span> as author,
    {# date #}<span class="s">'{{comment.created_utc|timeago}}'</span> as posted, 
    {# score #}<span class="m">{{comment.ups|subtract:comment.downs}}</span> as score, 
    {# comment body #}<p class="s">'{{comment.body}}'</p>
    {# comment replies #}
    <div class="indent">
            {% if comment.replies > 0 %}
                {# recurse the loop passing the child comments <3 #}
                {% render_comments_sql comment.replies %}
            {% endif %}
    </div>
    {% else %}
        <p class="c"><a href="{{story.permalink}}">-- more comments can be found on reddit </a></p>
    {% endif %}
</div>
{% endfor %}
