{% load custom_filters %}
<p><span class="k">DELIMITER </span>$$</p>
<p><span class="k">USE </span><a id="toggle-options" href="#" title="toggle options">options$$</a></p> 
<p><span class="k">USE </span><a href="{%url about%}" title="about">about$$</a></p>
<p><span class="k">USE </span><a href="{%url news%}" title="news">news$$</a></p>

<br/>
<p><span class="k">DECLARE</span> <a href="/">home</a> <span class="k">TINYINT</span>(<span class="m">1</span>)</p>
{% if user %}
<p><span class="k">DECLARE</span> <a href="{% url logout %}">logout</a> <span class="k">VARCHAR</span>(<span class="m">64</span>) = <span class="s">'{{user}}'</span></p>
	<ul>
	</ul>
	{% if my_reddits %}
	<br/>
	<span class="k">SELECT</span> * <span class="k">FROM</span> my_subreddits
	<br/>
	<span class="k">WHERE</span> subreddit_name <span class="k">IN</span> (
	<ul class="my_subreddits">
	{% for r in my_reddits %}
		<li><a href="{%url subreddit subreddit=r.display_name|as_string%}" class="s">'{{r}}'</a>,</li>
	{% endfor %}
	</ul>
	)
	{% endif %}
{% else %}
<p><span class="k">DECLARE</span> <a href="{% url login %}">login</a> <span class="k">VARCHAR</span>(<span class="m"64</span>)</p>
{% endif %}
