{% load custom_filters %}
{% if story.title|is_nsfw %}
<span class="c">-- nsfw</span><br/>
{% endif %}
<span class="k">SELECT </span> 
{# story title #}<a href="{% if story.is_self %}{% url comments subreddit=story.subreddit, story_id=story.id, story_slug=story.permalink|get_submission_slug%}{% else %}{{ story.url }}{% endif %}" {% if story.url|is_image and request.session.preview and not story.title|is_nsfw %}class="imglink"{% endif %}><span class="s">'{{ story.title }}'</span></a> as title,<br/>
{# story info #}<p class="indent"> <a href="{% url comments subreddit=story.subreddit, story_slug=story.permalink|get_submission_slug, story_id=story.id %}"><span class="m">{{ story.num_comments }}</span> as comments</a>,
<br/> <span class="m">{{ story.score }}</span> as score,
<br/> <span class="m">'{{ story.selftext }}'</span> as self_text
<p/>
<span class="k">FROM </span> subreddit.<a href="{% url subreddit subreddit=story.subreddit %}">{{ story.subreddit }}</a><br/>
<span class="k">WHERE </span> poster = <span class="s">'{{ story.author }}'</span>
<span class="k">  AND </span> site = <span class="s">'{{ story.domain }}'</span>
<span class="k">  AND </span> posted = <span class="s">'{{story.created_utc|timeago}}'</span>;
