{% extends "skeleton/base.html" %}

{% block header %}
{% include request.session.syntax|add:"/header.html" %}
{% endblock %}

{% block body %}

<span class="k">CREATE PROCEDURE </span>Subreddit(<span class="k">IN </span>{{subreddit.display_name}} <span class="k">VARCHAR(64)</span>)<br/>
<span class="k">BEGIN </span>
<br/>
<div class="indent">
{% if stories %}
	<ul>
	{% for story in stories %}
	<li>
	{% include request.session.syntax|add:"/story.html" %}
	</li>
	{% endfor %}
	</ul>
{% else %}
	<p class="c"># There's nothing here!</p>
{% endif %}

<br/><br/><span class="k">DECLARE </span>{% if count > request.session.num_stories %}<a href="{% url subreddit subreddit=subreddit.display_name %}{%include "skeleton/before.html"%}">previous()</a>{% else %}page{% endif %} = <a href="{% url subreddit subreddit=subreddit.display_name%}{%include "skeleton/after.html"%}"><span class="s">'next'<span/></a>
<div/>
<br/><span class="k">END$$ </span>

{% endblock %}


{% block footer %}
{% include request.session.syntax|add:"/footer.html" %}
{% endblock %}
