{% extends "skeleton/base.html" %}

{% block header %}
<h1>Login</h1>
{% endblock %}
{% block body %}
<form action="" method="post">
    {% csrf_token %}
	<p><label>Username: </label><input type=text name="username"/></p>
	<p><label>Password: </label><input type=password name="password"/></p>
	<p><input type="submit" value="Login"/></p>
	{% if error %}
	<p>{{ error }}</p>
	{% endif %}
</form>
{% endblock %}
