<h1 id="coderedd.net-news"><a href="http://coderedd.net">coderedd.net</a> news</h1>
<hr>
<h2 id="login-problems">Login Problems</h2>
<p><strong>2012-06-13</strong></p>
<p>
I've deployed a test fix for the login problems, so if you're having problems with logging in (e.g. seeing another user's subreddit list) or the website in general, try clearing your cache first and try again. 
</p>
<p>
If the problems persist, please send a bug report to <script type="text/javascript">
<!--
h='&#x63;&#x6f;&#100;&#x65;&#114;&#x65;&#100;&#100;&#46;&#110;&#x65;&#116;';a='&#64;';n='&#106;&#x6f;&#104;&#110;&#50;&#120;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+'<code>'+e+'</code>'+'<\/'+'a'+'>');
// -->
</script><noscript>&#106;&#x6f;&#104;&#110;&#50;&#120;&#32;&#x61;&#116;&#32;&#x63;&#x6f;&#100;&#x65;&#114;&#x65;&#100;&#100;&#32;&#100;&#x6f;&#116;&#32;&#110;&#x65;&#116;</noscript>. 
</p>
<hr>
<h2 id="welcome-to-coderedd.net">Welcome to coderedd.net!</h2>
<p><strong>2012-04-10</strong></p>
<p>coderedd.net is a custom UI for reddit.com inspired by code editors. It makes browsing reddit look like you're coding! It is available in various programming languages (syntax) and with different color schemes to match your preferred development environment.</p>
<p>It was originally called r.doqdoq and ran on Flask, but has been rewritten to run on Django.</p>
<h3 id="why-the-rewrite">Why the rewrite?</h3>
<p>I needed (and wanted) to transfer to a different hosting provider and went with <a href="http://www.webfaction.com?affiliate=john2x">WebFaction</a>(affiliate link). Since WebFaction doesn't have (default) support for Flask, I had to rewrite the site to run on Django.</p>
<h3 id="whats-new">What's new?</h3>
<p>Not much, yet.</p>
<ul>
<li>new SQL syntax.</li>
<li>now using the latest version of <a href="https://github.com/mellort/reddit_api">reddit_api</a></li>
</ul>
<p>I promise to add more &quot;soon&quot;. :-P</p>
<h3 id="bugs">Bugs!</h3>
<p>That said, I didn't get to test it as much. My old server went offline yesterday, so I had to deploy this one a bit prematurely.</p>
<p>Send your bug reports to <script type="text/javascript">
<!--
h='&#x63;&#x6f;&#100;&#x65;&#114;&#x65;&#100;&#100;&#46;&#110;&#x65;&#116;';a='&#64;';n='&#106;&#x6f;&#104;&#110;&#50;&#120;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+'<code>'+e+'</code>'+'<\/'+'a'+'>');
// -->
</script><noscript>&#106;&#x6f;&#104;&#110;&#50;&#120;&#32;&#x61;&#116;&#32;&#x63;&#x6f;&#100;&#x65;&#114;&#x65;&#100;&#100;&#32;&#100;&#x6f;&#116;&#32;&#110;&#x65;&#116;</noscript>.</p>
<p>Enjoy!</p>
<p>-- <a href="http://john2x.com">john2x</a></p>
<hr>
