body {
	font-family: Consolas, Menlo, "Courier New", monospace;
	margin: 1em;
	font-size: 14px;
	line-height: 16px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li {
	margin-bottom: 16px;
}

.options {
	margin-bottom: 16px;
}

.header {
	margin-bottom: 32px;
}

ul.my_subreddits li {
	display: inline;
}

.indent {
	padding-left: 32px;
}

.footer {
	margin-top: 32px;
	text-align: center;
}

#imgPreviewWithStyles {
    background: #222;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 15px;
    z-index: 999;
    border: none;
}

