<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>{% block title%}{{SITENAME}}{% endblock %}</title>

    {% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/colorschemes/'|add:request.session.colorscheme|add:'.css' %}"/>
	
	<script src="{% static 'js/jquery.js' %}"></script> 

	<!-- GOOGLE ANALYTICS -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30696230-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    {% load custom_filters %}
	{% include "skeleton/options.html" %}
	<div class="header">
	{% block header %}
	{% endblock %}
	</div>
	<div class="body">
	{% block body %}
	{% endblock %}
	</div>
	<div class="footer">
	{% block footer %}
	{% endblock %}
	</div>

	{% if request.session.preview == 'yes' %}
	<script src="{% static 'js/imgpreview.js' %}" type="text/javascript"></script> 
    
    <script type="text/javascript"> 
    //<![CDATA[
	$('a.imglink').imgPreview({
		containerID: 'imgPreviewWithStyles',
		imgCSS: {
			// Limit preview size:
			height: 200
		},
		// don't preload images:
		preloadImages: false,
		// When container is shown:
		onShow: function(link){
			// Animate link:
			$(link).stop().animate({opacity:0.4});
			// Reset image:
			$('img', this).stop().css({opacity:0});
		},
		// When image has loaded:
		onLoad: function(){
			// Animate image
			$(this).animate({opacity:1}, 300);
		},
		// When container hides: 
		onHide: function(link){
			// Animate link:
			$(link).stop().animate({opacity:1});
		}
	});
    //]]>
    </script> 
	{% endif %}
	
	<!-- toggle options -->
	<script type="text/javascript">
		var hidden = false;
		$("#toggle-options").click(function(){
			if (hidden){
				$("div.options").slideDown();
			}else{
				$("div.options").slideUp();
			}
			hidden = !hidden;
		});
	</script>

</body>
</html>
