<div class="options">
<form name="options" method="get" action="/update_options/">

<p>
<label for="syntax">Syntax: </label>
<select name="syntax">
{% for k, v in SYNTAXES.items %}
	<option value="{{k}}" {% if request.session.syntax == k %}selected="selected"{% endif %}>{{v}}</option>
{% endfor %}
</select>

<label for="colorscheme">Colorscheme: </label>
<select name="colorscheme">
{% for k, v in COLORSCHEMES.items %}
<option value="{{k}}" {% if request.session.colorscheme == k %}selected="selected"{% endif %}>{{v}}</option>
{% endfor %}
</select>
</p>

<p>
<label for="preview">Preview images on hover: </label><input type="checkbox" name="preview" value="yes" {% if request.session.preview == 'yes' %}checked="checked"{% endif %}/>
</p>

<p>
<input type="hidden" name="next" value="{{request.get_full_path}}"/>

<input type="submit" value="Update">
</p>
	
</form>
</div>

