body {
	background-color: #F8F8F8;
	color: #000;
}
a {
	color: #000;
}
.c, .c a { color: #408080; font-style: italic } /* Comment */
.k, .k a { color: #008000; font-weight: bold } /* Keyword */
.m, .m a { color: #666666 } /* Literal.Number */
.s, .s a { color: #BA2121 } /* Literal.String */
.vc, .vc a { color: #19177C } /* Name.Variable.Class */
.nc, .nc a { color: #0000FF; font-weight: bold } /* Name.Class */
.nf, .nf a { color: #0000FF } /* Name.Function */
