body {
	background-color: #1D1D19;
	color: #F5F5F5;
}
a {
	color: #F5F5F5;
}
.c, .c a { color: #75715e } /* Comment */
.k, .k a { color: #66d9ef } /* Keyword */
.l { color: #ae81ff } /* Literal */
.n { color: #f8f8f2 } /* Name */
.m, .m a { color: #ae81ff } /* Literal.Number */
.s, .s a { color: #e6db74 } /* Literal.String */
.nc, .nc a { color: #a6e22e } /* Name.Class */
.nf, .nf a { color: #a6e22e } /* Name.Function */
.vc, .vc a { color: #f8f8f2 } /* Name.Variable.Class */
