body {
	background-color: #FFF;
	color: #000;
}
a {
	color: #000;
}
.c, .c a { color: #008000 } /* Comment */
.k, .k a { color: #0000ff } /* Keyword */
.s, .s a { color: #a31515 } /* Literal.String */
.nc, .nc a { color: #2b91af } /* Name.Class */
