{% extends "skeleton/base.html" %}

{% load custom_filters %}
{% block header %}
{% include request.session.syntax|add:"/header.html" %}
{% endblock %}

{% block body %}
<div class="subreddit-info">
<span class="k">class </span><span class="nc">{{ story.subreddit }}</span> <span class="k"> extends </span> <span class="vc">Subreddit</span>{<br/>
</div>
<div class="indent">
{% include request.session.syntax|add:"/story.html" %}
{% if story.is_self %}
<br/>
{% endif %}
<div class="comments">
	<span class="k">public void</span> <span class="nf">comments</span>(){
	{% if comments %}
        {% render_comments_java comments %}
	{% else %}
		<div class="indent"><p class="c">// There's nothing here! </p></span>
	{% endif %}
</div>
<br/>}
</div>
</div>
<br/>}
{% endblock %}

{% block footer %}
{% include request.session.syntax|add:"/footer.html" %}
{% endblock %}

