{% load custom_filters %}
{% for comment in comments %}
<div class="indent">
    {% if comment|get_type == "<class 'reddit.objects.Comment'>" %}
		{# username #}<span class="k">if</span> ({{comment.author}} 
		{# date #}<span class="">&amp;&amp; posted==</span><span class="s">"{{comment.created_utc|timeago}}"</span> 
		{# score #}<span class="">&amp;&amp;</span> score==<span class="m">{{comment.ups|subtract:comment.downs}}</span>)
		<div class="indent">
			{# comment body #}<p><span class="s">"{{comment.body}}"</span>;</p>
				{% if comment.replies > 0 %}
					{% render_comments_java comment.replies %}
				{% endif %}
		</div>
    {% else %}
        <p class="c"><a href="{{story.permalink}}">// more comments can be found on reddit </a></p>
    {% endif %}
</div>
{% endfor %}
