{% load custom_filters %}

<span class="k">import</span> <a href="#" id="toggle-options" class="n">{{ SITENAME }}.options</a>;<br/>
<span class="k">import</span> <a href="{%url about%}" class="n">{{ SITENAME }}.about</a>;<br/>
<span class="k">import</span> <a href="{%url news%}" class="n">{{ SITENAME }}.news</a>;<br/><br/>

<span class="k">class</span> <span class="nc">Header</span>{
<div class="indent">	
<p><a href="/"><span class="k">public void</span> home()</a>;</p>
{% if user %}
	<p><a href="{% url logout %}"><span class="k">public String</span> logout()</a>{</p>
		<p class="indent"><span class="k">return</span> <span class="s">"{{user}}"</span>;</p>
	}<br/>
	<ul>
	</ul>
	{% if my_reddits %}
	<br/>
	<span class="k">public final </span><span class="n">String</span>[] mySubreddits = <span class="k">new</span> <span class="n">String</span>[]{
	<ul class="my_subreddits indent">
	{% for r in my_reddits %}
		<li><a href="{% url subreddit subreddit=r.display_name|as_string %}" class="s">"{{r}}"</a>{% if not forloop.last %},{% endif %}</li>
	{% endfor %}
	</ul>
	};
	{% endif %}
{% else %}
<p><a href="{% url login %}"><span class="k">public void</span> login()</a>;</p>
{% endif %}
</div>
}</br>
