{% extends "skeleton/base.html" %}

{% block header %}
{% include request.session.syntax|add:"/header.html" %}
{% endblock %}

{% block body %}
<span class="k">class </span><span class="nc">FrontPage</span>{
<div class="indent">
{% if stories %}
	<ul>
	{% for story in stories %}
	<li>
	{% include request.session.syntax|add:"/story.html" %}
	</li>
	{% endfor %}
	</ul>
{% else %}
	<p class="c">// There's nothing here!</p>
{% endif %}
</div>
}
<br/>
<br/>
<div class="nav">
	<span class="k">class </span><span class="nc">Navigation</span>{
	<div class="indent">
	{% if count > request.session.num_stories %}
		<a href="{% url index %}{%include "skeleton/before.html"%}"><span class="k">public void</span> <span class="">previous()</span></a>;<br/>
	{% endif %}
	
	<a href="{%url index%}{%include "skeleton/after.html"%}"><span class="k">public void</span> <span class="">next()</span></a>;
	</div>}
</div>

{% endblock %}


{% block footer %}
{% include request.session.syntax|add:"/footer.html" %}
{% endblock %}
