{% load custom_filters %}
<span class="k">public void </span>
{# story title #}<a href="{% if story.is_self %}{%url comments subreddit=story.subreddit, story_id=story.id, story_slug=story.permalink|get_submission_slug%}{% else %}{{ story.url }}{% endif %}" {% if story.url|is_image and request.session.preview and not story.title|is_nsfw %}class="imglink"{% endif %}><span class="nf">{{ story.permalink|get_submission_slug|camelcase }}</span></a>{# subreddit #}(<span class="k">Subreddit </span><span class="vc"><a href="{% url subreddit subreddit=story.subreddit %}">{{ story.subreddit }}</a></span>){ 
<p class="c indent">
{# story info #}// {{story.created_utc|timeago}} by {{ story.author }} from {{story.domain}}
</p>
<p class="indent">
<span class="n">String</span> fullTitle = <span class="s">"{{ story.title }}"</span>;
<br/><a href="{% url comments subreddit=story.subreddit, story_slug=story.permalink|get_submission_slug, story_id=story.id %}"><span class="k">int</span> comments = <span class="m">{{ story.num_comments }}</span></a>;
<br/><span class="k">int</span> score = <span class="m">{{ story.score }}</span>;
</p>
<p class="selfpost indent">
	<span class="n">String</span> selfText = <span class="s">"{{ story.selftext }}"</span>;
</p>
}
